#website-container {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    min-height: 20px;
}

.popup-body{
    background-color:#F1F2FF;
}
.popup-container {
    width: 300px;
    border-radius: 10px;
    margin: 10px;
}

.website-name {
    float: left;
    font-weight: bold;
    font-size: 14px;
}

.num-hours{
    float:right;
    font-weight: bold;
    font-size: 14px;
    color: #898989;
}